.Dictionary .col-8 {
  text-align: center;
}
.Dictionary input {
  width: 50%;
  margin: 20px 0 20px 0;
  padding: 15px;
}
h2 {
  margin: 20px 0 20px 0;
  border: 2px dashed #ccc;
  padding: 15px;
  border-radius: 30px;
}
.Meaning {
  margin: 20px 0 20px 0;
  border: 2px dashed #ccc;
  padding: 15px;
  border-radius: 30px;
}
