.Dictionary .col-8 {
  text-align: center;
}
.Dictionary input {
  width: 50%;
  margin: 20px 0 20px 0;
  padding: 15px;
}
.Dictionary section {
  margin: 20px 0 20px 0;
  border: 2px #ccc;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}
.Dictionary input {
  margin: 20px 0 20px 0;
  border: 2px solid #ccc;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  padding: 15px;
  border-radius: 30px;
}
